@keyframes fade {
  to {
    opacity: 1; } }

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0); } }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 1.8rem; }

.content {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 13rem auto; }
  .content .content__title {
    background: -webkit-linear-gradient(#88597bef, rgba(49, 88, 66, 0.651));
    color: #4d6164df;
    -webkit-background-clip: text;
    -moz-background-clip: border-box;
    background-clip: transparent;
    font-size: 100px;
    font-weight: 900;
    line-height: 1.13; }

.content__title__container h1 span {
  opacity: 0;
  animation: fade .5s ease-in forwards; }

.content__title__container h1 span:nth-of-type(1) {
  animation-delay: .5s; }

.content__title__container h1 span:nth-of-type(2) {
  animation-delay: 1.5s; }

.content__title__container h1 span:nth-of-type(3) {
  animation-delay: 2s; }

.content__description {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: rgba(51, 51, 51, 0.739);
  opacity: 0;
  transform: translateX(-50px);
  animation: slideLeft 2s ease-out 1.5s forwards; }

.content__book {
  width: 23rem;
  box-shadow: 1px 20px 30px rgba(41, 39, 39, 0.25); }

.topics__title h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lato';
  display: inline-block;
  color: #4d6164df;
  transition: all .2s; }
  .topics__title h2:hover {
    transform: scale(1.05); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.section-topics {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-topics .topics__title {
    text-align: center; }
  .section-topics .topics__container {
    margin-top: 5rem;
    width: 80%;
    display: grid;
    grid-template-rows: 20rem 20rem;
    grid-template-columns: 22rem 22rem 22rem;
    grid-gap: 25px;
    justify-content: center; }
    .section-topics .topics__container .topics__item {
      padding: 20px;
      font-size: 30px;
      font-family: 'Lato';
      color: white; }
      .section-topics .topics__container .topics__item-1 {
        background-color: red; }
      .section-topics .topics__container .topics__item-2 {
        background-color: #a18585; }
      .section-topics .topics__container .topics__item-3 {
        background-color: #186d7c; }
      .section-topics .topics__container .topics__item-4 {
        background-color: #648f3c; }
      .section-topics .topics__container .topics__item-5 {
        background-color: #959e13; }
      .section-topics .topics__container .topics__item-6 {
        background-color: #57083c; }

.content__button {
  display: flex;
  margin-top: 1.5rem;
  opacity: 0;
  animation: fade .5s ease-in forwards; }
  .content__button:link, .content__button:visited {
    border-radius: 64px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-family: 'Lato';
    font-size: 15px;
    margin-right: 1rem;
    padding: 1.2em 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;
    width: 15rem;
    position: relative; }
  .content__button .btn-info {
    background-color: #33646E;
    color: #fff; }
    .content__button .btn-info:hover {
      background-color: #264a52;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.274); }
    .content__button .btn-info:active {
      transform: translateY(1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.274); }
  .content__button .btn-buy {
    background: transparent;
    color: #33646E;
    border: 1px solid #33646E; }
    .content__button .btn-buy:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.274); }
    .content__button .btn-buy:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.274); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #cabec6fa, rgba(169, 197, 181, 0.856)), url("../img/header.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  padding-top: .1rem; }
  .header .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
    .header .logo-box img {
      height: 150px; }
