$color-text: #4d6164df;
$primary-pink:  #cabec6fa;
$primary-green: rgba(169, 197, 181, 0.856);
$body-color: #777;
$btn-color:#33646E;
$color-white: #fff;
$bg-prink: #88597bef;
$bg-green: rgba(49, 88, 66, 0.651);
$dark-grey: rgba(56, 59, 59, 0.753);
$black-shaddow: rgba(0, 0, 0, 0.274);