.feature {
	display: grid;
	grid-template-rows: 16rem;
	grid-template-columns: 15rem 15rem 15rem 15rem;
	grid-gap: 5rem;
	justify-content: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	.colu-1, .colu-2, .colu-3, .colu-4 {
		background-color: rgba(rgb(255, 255, 255), .5);
		font-size: 1.5rem;
		padding: 2.5rem;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 1.5rem 4rem rgba(black, .15);
		justify-content:flex-start;
		display: flex;
		flex-direction: column;
		box-shadow:0 10px 20px $black-shaddow;

		.feature-box__icon {
			font-size: 3rem;
		}

		&__title {

		}

		.feature-box__description {
			font-size: 1.2rem;
		}
	}

}


