.section-topics {
	background-color: $light-grey-1;
	padding: 27rem 10rem 10rem;
	margin-top: -32vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.topics__title {
		text-align: center;
	}

	.topics__container {
		margin-top: 5rem;
		width: 80%;
		display: grid;
		grid-template-rows: 20rem 20rem;
		grid-template-columns: 22rem 22rem 22rem;
		grid-gap: 30px;
		justify-content: center;

		.topics__item {
			padding: 20px;
			font-size: 30px;

			&-1, &-2, &-3, &-4, &-5, &-6 {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.topic-description {
					margin-top: 2rem;
					font-size: 1.2rem;
					text-align: center;
					color: $text-grey;
				}

				.hr {
					border: none;
					background-color: $color-text;
					height: 1.3px;
					width: 28%;
					margin-top: 35px;
					box-sizing: content-box;
					display: block;

				}

				img {
					width: 120px;
				}
			}
		}
	}
}

.section__features {
	padding: 15rem 0;

	background-image: linear-gradient(to right bottom, $primary-pink, $primary-green), url('/img/features.jpg');
	background-size: cover;
	// background-position: top;
	// position: relative;
	// padding-top: .1rem;
}
