.section-topics {
	background-color: $light-grey-1;
	padding: 25rem 0;
	margin-top: -32vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.topics__title {
		text-align: center;
	}

	.topics__container {
		margin-top: 5rem;
		width: 80%;
		display: grid;
		grid-template-rows: 20rem 20rem;
		grid-template-columns: 22rem 22rem 22rem;
		grid-gap: 25px;
		justify-content: center;

		.topics__item {
			padding: 20px;
			font-size: 30px;
			font-family: 'Lato';
			color: white;
			// transition: all .2s;

			&-1{
				background-color: red;
				// opacity: 0;
				// transform: translateX(-50px);
				// animation: slideLeft 2s ease-out 0.5s forwards;
			}
			&-2{
			background-color: rgb(161, 133, 133);
			// opacity: 0;
			// transform: translateY(-70px);
			// animation: slideLeft 2s ease-out 0.5s forwards;

			}
			&-3{
				background-color: rgb(24, 109, 124);
				// opacity: 0;
				// transform: translateX(50px);
				// animation: slideLeft 2s ease-out 0.5s forwards;

			}
			&-4{
				background-color: rgb(100, 143, 60);

			}
			&-5{
				background-color: rgb(149, 158, 19);

			}
			&-6{
				background-color: rgb(87, 8, 60);
			}
		}
	}
}